.section_5 {
    background-color: #141414;
    .content_6 {
      padding-top: 94px;
      margin-bottom: 60px;
    }
    .content_7 {
      color: #fff;
      display: flex;
    }
    .rights {
      padding-left: 15px;
      padding-top: 8px;
    }
    .Categories {
      display: flex;
      margin-top: 60px;
    }
    .Animation {
      padding-right: 823px;
      color: #666666;
    }
    .Architecture {
      color: #666666;
    }
    .content_8 {
      display: flex;
      margin-top: 20px;
      gap: 139px;
      .card_6 {
          width: 225px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 55px;
      }
    }
    .input_btn {
      padding: 18px 24px;
      display: flex;
      .email {
        width: 221px;
        height: 48px;
        text-align: center;
      }
      .send_btn {
        background-color: black;
        width: 79px;
        height: 48px;
        color: #fff;
        border: none;
      }
    }
    .text_design{
      text-wrap: nowrap;
      padding-bottom: 70px;
    }
    .about {
      color: #666666;
      padding-bottom: 15px;
    }
    .Miscellaneous{
      padding-bottom: 70px;
  }
  .licanse{
      text-wrap: nowrap;
  }
  .Photography{
      padding-bottom: 70px;
  }
  }